# Get All Stock available

https://pypi.org/project/yfinance/

In [1]:
import bs4 as bs
import pandas as pd
import numpy as np
import requests

# Temlate for all

In [5]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# # get historical market data
hist = msft.history(period="max")

# # show actions (dividends, splits)
msft.actions

# # show dividends
msft.dividends

# # show splits
# msft.splits

# # show financials
# msft.financials
# msft.quarterly_financials

# # show major holders
# msft.major_holders

# # show institutional holders
# msft.institutional_holders

# # show balance sheet
# msft.balance_sheet
# msft.quarterly_balance_sheet

# # show cashflow
# msft.cashflow
# msft.quarterly_cashflow

# # show earnings
# msft.earnings
# msft.quarterly_earnings

# # show sustainability
# msft.sustainability

# # show analysts recommendations
# msft.recommendations

# # show next event (earnings, etc)
# msft.calendar

# # show ISIN code - *experimental*
# # ISIN = International Securities Identification Number
# msft.isin

# # show options expirations
# msft.options

# # # get option chain for specific expiration
# # opt = msft.option_chain('YYYY-MM-DD')
# # # data available via: opt.calls, opt.puts
# msft.info

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-05-20    0.51
2020-08-19    0.51
2020-11-18    0.56
2021-02-17    0.56
2021-05-19    0.56
Name: Dividends, Length: 70, dtype: float64

# Get Trading Data  (Quantitative)

In [3]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "AAPL",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "1mo",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "15m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [6]:
data

                             Open    High     Low   Close  Volume
Datetime
2021-05-07 09:30:00-04:00     NaN     NaN     NaN     NaN     NaN
2021-05-10 04:00:00-04:00  129.88  130.29  129.71  129.90     0.0
2021-05-10 04:15:00-04:00  129.89  130.15  129.85  129.97     0.0
2021-05-10 04:30:00-04:00  129.97  130.00  129.87  129.90     0.0
2021-05-10 04:45:00-04:00  129.90  129.90  129.52  129.58     0.0
...                           ...     ...     ...     ...     ...
2021-06-04 18:45:00-04:00  125.92  125.95  125.91  125.95     0.0
2021-06-04 19:00:00-04:00  125.95  125.95  125.90  125.91     0.0
2021-06-04 19:15:00-04:00  125.91  126.00  125.91  125.93     0.0
2021-06-04 19:30:00-04:00  125.93  126.00  125.92  125.93     0.0
2021-06-04 19:45:00-04:00  125.95  126.01  125.95  126.01     0.0

[985 rows x 5 columns]

# Get Qualitative Data

In [7]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a strategic collaboration with DXC Technology and Dynatrace, Inc. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 245.71,
 'regularMarketOpen': 247.76,
 'twoHundredDayAverage': 235.14622,
 'trailingAnnualDividendYield': 0.008912946,
 'payoutRatio': 0.2916,
 'volume24Hr': None,
 'regularMarketDayHigh': 251.65,
 'navPrice': None,
 'averageDailyVolume10Day': 22294580,
 'totalAssets': None,
 'regularMarketPreviousClose': 245.71,
 'fiftyDayAverage': 250.52293,
 'trailingAnnualDividendRate': 2.19,
 'open': 247.76,
 'averageVolume10days': 22294580,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1621382400,
 'beta': 0.794263,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 247.52,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 34.176888,
 'regularMarketVolume': 25281094,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1888842416128,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 27191384,
 'priceToSalesTrailing12Months': 11.807552,
 'dayLow': 247.52,
 'ask': 250.88,
 'ytdReturn': None,
 'askSize': 1300,
 'volume': 25281094,
 'fiftyTwoWeekHigh': 263.19,
 'forwardPE': 30.034729,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.63,
 'fiftyTwoWeekLow': 184.01,
 'bid': 250.7,
 'tradeable': False,
 'dividendYield': 0.009,
 'bidSize': 3000,
 'dayHigh': 251.65,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': True,
 'gmtOffSetMilliseconds': '-14400000',
 'underlyingSymbol': None,
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingExchangeSymbol': None,
 'headSymbol': None,
 'messageBoardId': 'finmb_21835',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.393,
 'beta3Year': None,
 'profitMargins': 0.35016,
 'enterpriseToEbitda': 24.114,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': 8.35,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7531570176,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 17.853,
 'sharesShort': 61156879,
 'sharesPercentSharesOut': 0.0081,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.72383004,
 'netIncomeToCommon': 56014999552,
 'trailingEps': 7.338,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': 14.047498,
 'heldPercentInsiders': 0.00072999997,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1617148800,
 'shortRatio': 2.11,
 'sharesShortPreviousMonthDate': 1615766400,
 'floatShares': 7420408511,
 'enterpriseValue': 1822495866880,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.438,
 'dateShortInterest': 1618444800,
 'pegRatio': 2.01,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0081,
 'sharesShortPriorMonth': 49574419,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 250.79,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [9]:
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056108,0.064359,0.056108,0.061608,1031788800,0.0,0.0
1986-03-14,0.061609,0.064909,0.061609,0.063809,308160000,0.0,0.0
1986-03-17,0.063809,0.065459,0.063809,0.064909,133171200,0.0,0.0
1986-03-18,0.064909,0.065459,0.062709,0.063259,67766400,0.0,0.0
1986-03-19,0.063259,0.063809,0.061608,0.062159,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-28,251.000000,252.080002,249.559998,249.679993,18270200,0.0,0.0
2021-06-01,251.229996,251.289993,246.960007,247.399994,23213300,0.0,0.0
2021-06-02,248.130005,249.270004,245.839996,247.300003,19406700,0.0,0.0
2021-06-03,245.220001,246.339996,243.000000,245.710007,25307700,0.0,0.0
2021-06-04,247.759995,251.649994,247.509995,250.789993,25275000,0.0,0.0

In [11]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0

[79 rows x 2 columns]

In [12]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2020-05-20    0.51
2020-08-19    0.51
2020-11-18    0.56
2021-02-17    0.56
2021-05-19    0.56
Name: Dividends, Length: 70, dtype: float64

In [13]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [14]:
msft.financials

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Research Development,1.9269e+10,1.6876e+10,1.4726e+10,1.3037e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,5.3036e+10,4.3688e+10,3.6474e+10,2.9901e+10
Minority Interest,None,None,None,None
Net Income,4.4281e+10,3.924e+10,1.6571e+10,2.5489e+10
Selling General Administrative,2.4709e+10,2.3098e+10,2.2223e+10,1.9942e+10
Gross Profit,9.6937e+10,8.2933e+10,7.2007e+10,6.231e+10
Ebit,5.2959e+10,4.2959e+10,3.5058e+10,2.9331e+10
Operating Income,5.2959e+10,4.2959e+10,3.5058e+10,2.9331e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.591e+09,-2.686e+09,-2.733e+09,-2.222e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,8.755e+09,4.448e+09,1.9903e+10,4.412e+09
Total Revenue,1.43015e+11,1.25843e+11,1.1036e+11,9.6571e+10
Total Operating Expenses,9.0056e+10,8.2884e+10,7.5302e+10,6.724e+10
Cost Of Revenue,4.6078e+10,4.291e+10,3.8353e+10,3.4261e+10
Total Other Income Expense Net,7.7e+07,7.29e+08,1.416e+09,5.7e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,4.4281e+10,3.924e+10,1.6571e+10,2.5489e+10
Net Income Applicable To Common Shares,4.4281e+10,3.924e+10,1.6571e+10,2.5489e+10

In [15]:
msft.quarterly_financials

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Research Development,5.204e+09,4.899e+09,4.926e+09,5.214e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1.7236e+10,1.8337e+10,1.6124e+10,1.3422e+10
Minority Interest,None,None,None,None
Net Income,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10
Selling General Administrative,6.409e+09,6.086e+09,5.35e+09,7.073e+09
Gross Profit,2.8661e+10,2.8882e+10,2.6152e+10,2.5694e+10
Ebit,1.7048e+10,1.7897e+10,1.5876e+10,1.3407e+10
Operating Income,1.7048e+10,1.7897e+10,1.5876e+10,1.3407e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-6.28e+08,-5.68e+08,-5.85e+08,-6.84e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.779e+09,2.874e+09,2.231e+09,2.22e+09
Total Revenue,4.1706e+10,4.3076e+10,3.7154e+10,3.8033e+10
Total Operating Expenses,2.4658e+10,2.5179e+10,2.1278e+10,2.4626e+10
Cost Of Revenue,1.3045e+10,1.4194e+10,1.1002e+10,1.2339e+10
Total Other Income Expense Net,1.88e+08,4.4e+08,2.48e+08,1.5e+07
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10
Net Income Applicable To Common Shares,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10

In [16]:
msft.quarterly_financials

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Research Development,5.204e+09,4.899e+09,4.926e+09,5.214e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1.7236e+10,1.8337e+10,1.6124e+10,1.3422e+10
Minority Interest,None,None,None,None
Net Income,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10
Selling General Administrative,6.409e+09,6.086e+09,5.35e+09,7.073e+09
Gross Profit,2.8661e+10,2.8882e+10,2.6152e+10,2.5694e+10
Ebit,1.7048e+10,1.7897e+10,1.5876e+10,1.3407e+10
Operating Income,1.7048e+10,1.7897e+10,1.5876e+10,1.3407e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-6.28e+08,-5.68e+08,-5.85e+08,-6.84e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1.779e+09,2.874e+09,2.231e+09,2.22e+09
Total Revenue,4.1706e+10,4.3076e+10,3.7154e+10,3.8033e+10
Total Operating Expenses,2.4658e+10,2.5179e+10,2.1278e+10,2.4626e+10
Cost Of Revenue,1.3045e+10,1.4194e+10,1.1002e+10,1.2339e+10
Total Other Income Expense Net,1.88e+08,4.4e+08,2.48e+08,1.5e+07
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10
Net Income Applicable To Common Shares,1.5457e+10,1.5463e+10,1.3893e+10,1.1202e+10

In [17]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",614100233,2020-12-30,0.0815,136588173823
1,Blackrock Inc.,515509179,2020-12-30,0.0684,114659551593
2,State Street Corporation,299126371,2020-12-30,0.0397,66531687437
3,"FMR, LLC",222257473,2020-12-30,0.0295,49434507144
4,Price (T.Rowe) Associates Inc,177500157,2020-12-30,0.0236,39479584919
5,"Geode Capital Management, LLC",117798162,2020-12-30,0.0156,26200667192
6,Capital World Investors,110441260,2020-12-30,0.0147,24564345049
7,Capital Research Global Investors,95506129,2020-12-30,0.0127,21242473212
8,Capital International Investors,91995988,2020-12-30,0.0122,20461747650
9,Northern Trust Corporation,91215100,2020-12-30,0.0121,20288062542

In [18]:
msft.balance_sheet

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Intangible Assets,7.038000e+09,7.750000e+09,8.053000e+09,1.010600e+10
Total Liab,1.830070e+11,1.842260e+11,1.761300e+11,1.626010e+11
Total Stockholder Equity,1.183040e+11,1.023300e+11,8.271800e+10,8.771100e+10
Other Current Liab,4.600100e+10,4.586000e+10,3.819500e+10,3.087900e+10
Total Assets,3.013110e+11,2.865560e+11,2.588480e+11,2.503120e+11
Common Stock,8.055200e+10,7.852000e+10,7.122300e+10,6.931500e+10
Other Current Assets,1.151700e+10,1.013300e+10,6.855000e+09,5.183000e+09
Retained Earnings,3.456600e+10,2.415000e+10,1.368200e+10,1.776900e+10
Other Liab,3.449200e+10,3.569900e+10,3.570700e+10,2.298600e+10
Good Will,4.335100e+10,4.202600e+10,3.568300e+10,3.512200e+10
Treasury Stock,3.186000e+09,-3.400000e+08,-2.187000e+09,6.270000e+08
Other Assets,1.313800e+10,1.472300e+10,7.442000e+09,6.076000e+09
Cash,1.357600e+10,1.135600e+10,1.194600e+10,7.663000e+09
Total Current Liabilities,7.231000e+10,6.942000e+10,5.848800e+10,5.574500e+10
Deferred Long Term Asset Charges,6.405000e+09,7.536000e+09,1.369000e+09,2.480000e+08
Short Long Term Debt,3.749000e+09,5.516000e+09,3.998000e+09,1.049000e+09
Other Stockholder Equity,3.186000e+09,-3.400000e+08,-2.187000e+09,6.270000e+08
Property Plant Equipment,5.290400e+10,4.385600e+10,3.614600e+10,3.028900e+10
Total Current Assets,1.819150e+11,1.755520e+11,1.696620e+11,1.626960e+11
Long Term Investments,2.965000e+09,2.649000e+09,1.862000e+09,6.023000e+09
Net Tangible Assets,6.791500e+10,5.255400e+10,3.898200e+10,4.248300e+10
Short Term Investments,1.229160e+11,1.224760e+11,1.217180e+11,1.252380e+11
Net Receivables,3.201100e+10,2.952400e+10,2.648100e+10,2.243100e+10
Long Term Debt,5.957800e+10,6.666200e+10,7.224200e+10,7.607300e+10
Inventory,1.895000e+09,2.063000e+09,2.662000e+09,2.181000e+09
Accounts Payable,1.253000e+10,9.382000e+09,8.617000e+09,7.390000e+09

In [19]:
msft.quarterly_balance_sheet

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Intangible Assets,8.127000e+09,6.555000e+09,6.923000e+09,7.038000e+09
Total Liab,1.743740e+11,1.739010e+11,1.776090e+11,1.830070e+11
Total Stockholder Equity,1.345050e+11,1.302360e+11,1.233920e+11,1.183040e+11
Other Current Liab,4.006900e+10,3.992600e+10,4.299600e+10,4.600100e+10
Total Assets,3.088790e+11,3.041370e+11,3.010010e+11,3.013110e+11
Common Stock,8.230800e+10,8.189600e+10,8.108900e+10,8.055200e+10
Other Current Assets,1.203400e+10,1.274800e+10,1.357200e+10,1.151700e+10
Retained Earnings,5.073500e+10,4.497300e+10,3.919300e+10,3.456600e+10
Other Liab,3.160100e+10,3.158500e+10,3.317400e+10,3.449200e+10
Good Will,4.969800e+10,4.421900e+10,4.389000e+10,4.335100e+10
Treasury Stock,1.462000e+09,3.367000e+09,3.110000e+09,3.186000e+09
Other Assets,1.442700e+10,1.356100e+10,1.303400e+10,1.313800e+10
Cash,1.370200e+10,1.443200e+10,1.720500e+10,1.357600e+10
Total Current Liabilities,7.219300e+10,6.748600e+10,7.005600e+10,7.231000e+10
Short Long Term Debt,8.051000e+09,5.387000e+09,6.497000e+09,3.749000e+09
Other Stockholder Equity,1.462000e+09,3.367000e+09,3.110000e+09,3.186000e+09
Property Plant Equipment,6.561800e+10,6.203500e+10,5.697400e+10,5.290400e+10
Total Current Assets,1.656140e+11,1.739730e+11,1.770770e+11,1.819150e+11
Long Term Investments,5.395000e+09,3.794000e+09,3.103000e+09,2.965000e+09
Net Tangible Assets,7.668000e+10,7.946200e+10,7.257900e+10,6.791500e+10
Short Term Investments,1.113110e+11,1.175570e+11,1.207440e+11,1.229160e+11
Net Receivables,2.632200e+10,2.731200e+10,2.285100e+10,3.201100e+10
Long Term Debt,5.000700e+10,5.513600e+10,5.705500e+10,5.957800e+10
Inventory,2.245000e+09,1.924000e+09,2.705000e+09,1.895000e+09
Accounts Payable,1.341200e+10,1.277000e+10,1.250900e+10,1.253000e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,6.405000e+09

In [20]:
msft.cashflow

,2020-06-30,2019-06-30,2018-06-30,2017-06-30
Investments,6.980000e+09,5.400000e+08,6.557000e+09,-1.251100e+10
Change To Liabilities,5.230000e+09,4.694000e+09,7.070000e+09,3.901000e+09
Total Cashflows From Investing Activities,-1.222300e+10,-1.577300e+10,-6.061000e+09,-4.678100e+10
Net Borrowings,-5.518000e+09,-4.000000e+09,-1.020100e+10,3.145900e+10
Total Cash From Financing Activities,-4.603100e+10,-3.688700e+10,-3.359000e+10,8.408000e+09
Change To Operating Activities,-6.730000e+08,-1.542000e+09,-4.590000e+08,3.490000e+08
Issuance Of Stock,1.343000e+09,1.142000e+09,1.002000e+09,7.720000e+08
Net Income,4.428100e+10,3.924000e+10,1.657100e+10,2.548900e+10
Change In Cash,2.220000e+09,-5.900000e+08,4.283000e+09,1.153000e+09
Repurchase Of Stock,-2.296800e+10,-1.954300e+10,-1.072100e+10,-1.178800e+10
Effect Of Exchange Rate,-2.010000e+08,-1.150000e+08,5.000000e+07,1.900000e+07
Total Cash From Operating Activities,6.067500e+10,5.218500e+10,4.388400e+10,3.950700e+10
Depreciation,1.230000e+10,1.160000e+10,9.900000e+09,7.800000e+09
Other Cashflows From Investing Activities,-1.241000e+09,-1.241000e+09,-9.800000e+07,-1.970000e+08
Dividends Paid,-1.513700e+10,-1.381100e+10,-1.269900e+10,-1.184500e+10
Change To Inventory,1.680000e+08,5.970000e+08,-4.650000e+08,5.000000e+07
Change To Account Receivables,-2.577000e+09,-2.812000e+09,-3.862000e+09,-1.216000e+09
Other Cashflows From Financing Activities,-3.751000e+09,-6.750000e+08,-9.710000e+08,-1.900000e+08
Change To Netincome,5.577000e+09,-2.521000e+09,-3.054000e+09,1.342000e+09
Capital Expenditures,-1.544100e+10,-1.392500e+10,-1.163200e+10,-8.129000e+09

In [21]:
msft.quarterly_cashflow

,2021-03-31,2020-12-31,2020-09-30,2020-06-30
Investments,2.517000e+09,2.593000e+09,2.100000e+09,3.173000e+09
Change To Liabilities,3.600000e+08,-3.194000e+09,-2.749000e+09,1.180200e+10
Total Cashflows From Investing Activities,-9.684000e+09,-1.669000e+09,-5.371000e+09,-4.462000e+09
Net Borrowings,-5.000000e+08,-3.250000e+09,-3.250000e+09,-3.250000e+09
Total Cash From Financing Activities,-1.319200e+10,-1.363400e+10,-1.028900e+10,-1.226200e+10
Change To Operating Activities,1.305000e+09,1.879000e+09,-2.823000e+09,6.430000e+08
Issuance Of Stock,3.960000e+08,3.020000e+08,5.450000e+08,3.400000e+08
Net Income,1.545700e+10,1.546300e+10,1.389300e+10,1.120200e+10
Change In Cash,-7.300000e+08,-2.773000e+09,3.629000e+09,1.866000e+09
Repurchase Of Stock,-6.930000e+09,-6.535000e+09,-6.743000e+09,-5.791000e+09
Effect Of Exchange Rate,-3.300000e+07,1.400000e+07,-4.600000e+07,-8.300000e+07
Total Cash From Operating Activities,2.217900e+10,1.251600e+10,1.933500e+10,1.867300e+10
Depreciation,2.936000e+09,2.761000e+09,2.645000e+09,3.008000e+09
Other Cashflows From Investing Activities,4.000000e+08,3.270000e+08,-2.083000e+09,-1.241000e+09
Dividends Paid,-4.221000e+09,-4.230000e+09,-3.856000e+09,-3.865000e+09
Change To Inventory,-3.290000e+08,7.880000e+08,-8.080000e+08,-2.510000e+08
Change To Account Receivables,2.900000e+08,-4.008000e+09,8.843000e+09,-9.355000e+09
Other Cashflows From Financing Activities,-1.937000e+09,7.900000e+07,-2.350000e+08,-2.946000e+09
Change To Netincome,1.086000e+09,1.195000e+09,1.317000e+09,2.213000e+09
Capital Expenditures,-5.089000e+09,-4.174000e+09,-4.907000e+09,-4.744000e+09

In [22]:
msft.earnings

           Revenue     Earnings
Year
2017   96571000000  25489000000
2018  110360000000  16571000000
2019  125843000000  39240000000
2020  143015000000  44281000000

In [23]:
msft.quarterly_earnings

             Revenue     Earnings
Quarter
2Q2020   38033000000  11202000000
3Q2020   37154000000  13893000000
4Q2020   43076000000  15463000000
1Q2021   41706000000  15457000000

In [24]:
msft.sustainability

                                     Value
2021-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.37
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                         0
peerCount                              103
governanceScore                       4.83
environmentPercentile                    0
animalTesting                        False
tobacco                              False
totalEsg                             14.63
highestControversy                       3
esgPerformance                    LAG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.59
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.42
governancePercentile                     0
militaryContract                     False

In [25]:
msft.recommendations

                      Firm       To Grade From Grade Action
Date
2012-03-16  Argus Research            Buy                up
2012-03-19  Hilliard Lyons  Long-Term Buy              main
2012-03-22  Morgan Stanley     Overweight              main
2012-04-03             UBS            Buy              main
2012-04-20             UBS            Buy              main
...                    ...            ...        ...    ...
2021-04-28  Morgan Stanley     Overweight              main
2021-04-28          Mizuho            Buy              main
2021-04-28   Credit Suisse     Outperform              main
2021-04-28   Raymond James     Strong Buy              main
2021-04-28        Barclays     Overweight              main

[331 rows x 4 columns]

In [26]:
msft.calendar

                                    0                    1
Earnings Date     2021-07-20 00:00:00  2021-07-26 00:00:00
Earnings Average                  1.9                  1.9
Earnings Low                     1.64                 1.64
Earnings High                    2.03                 2.03
Revenue Average           44105500000          44105500000
Revenue Low               40850000000          40850000000
Revenue High              45019500000          45019500000

In [28]:
# ISIN = International Securities Identification Number
# ISIN
msft.isin

'US5949181045'

In [29]:
msft.options

('2021-06-18',
 '2021-07-16',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20')

In [6]:
opt = msft.option_chain('2021-06-18')
type(opt)

yfinance.ticker.Options

In [15]:
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT210618C00065000,2020-11-09 14:45:17,65.0,160.70,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
1,MSFT210618C00070000,2020-11-09 14:45:17,70.0,155.70,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
2,MSFT210618C00075000,2020-11-09 14:45:17,75.0,150.70,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
3,MSFT210618C00080000,2020-11-09 14:45:17,80.0,144.95,0.0,0.00,0.0,0.0,2,0,0.000010,True,REGULAR,USD
4,MSFT210618C00085000,2020-11-09 14:45:17,85.0,140.70,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
5,MSFT210618C00090000,2020-11-09 14:45:17,90.0,135.70,0.0,0.00,0.0,0.0,2,0,0.000010,True,REGULAR,USD
6,MSFT210618C00095000,2020-09-21 14:40:46,95.0,102.00,120.3,120.85,0.0,0.0,2,121,0.000010,True,REGULAR,USD
7,MSFT210618C00100000,2020-11-10 19:27:04,100.0,110.69,0.0,0.00,0.0,0.0,5,0,0.000010,True,REGULAR,USD
8,MSFT210618C00105000,2020-11-10 17:13:02,105.0,108.00,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
9,MSFT210618C00110000,2020-11-06 18:45:09,110.0,114.46,0.0,0.00,0.0,0.0,4,0,0.000010,True,REGULAR,USD
10,MSFT210618C00115000,2020-11-05 20:01:57,115.0,109.00,0.0,0.00,0.0,0.0,5,0,0.000010,True,REGULAR,USD
11,MSFT210618C00120000,2020-11-09 18:47:18,120.0,102.85,0.0,0.00,0.0,0.0,6,0,0.000010,True,REGULAR,USD
12,MSFT210618C00125000,2020-11-09 15:07:30,125.0,101.15,0.0,0.00,0.0,0.0,4,0,0.000010,True,REGULAR,USD
13,MSFT210618C00130000,2020-11-06 16:14:12,130.0,92.33,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
14,MSFT210618C00135000,2020-11-09 20:50:38,135.0,76.40,0.0,0.00,0.0,0.0,3,0,0.000010,True,REGULAR,USD
15,MSFT210618C00140000,2020-11-09 14:46:49,140.0,86.72,0.0,0.00,0.0,0.0,1,0,0.000010,True,REGULAR,USD
16,MSFT210618C00145000,2020-11-05 16:20:49,145.0,78.94,0.0,0.00,0.0,0.0,5,0,0.000010,True,REGULAR,USD
17,MSFT210618C00150000,2020-11-10 20:11:28,150.0,62.61,0.0,0.00,0.0,0.0,12,0,0.000010,True,REGULAR,USD
18,MSFT210618C00155000,2020-11-10 20:33:41,155.0,58.60,0.0,0.00,0.0,0.0,18,0,0.000010,True,REGULAR,USD
19,MSFT210618C00160000,2020-11-10 20:08:45,160.0,54.30,0.0,0.00,0.0,0.0,5,0,0.000010,True,REGULAR,USD
20,MSFT210618C00165000,2020-11-10 20:45:46,165.0,50.35,0.0,0.00,0.0,0.0,2,0,0.000010,True,REGULAR,USD
21,MSFT210618C00170000,2020-11-10 19:17:22,170.0,45.70,0.0,0.00,0.0,0.0,22,0,0.000010,True,REGULAR,USD
22,MSFT210618C00175000,2020-11-09 14:39:13,175.0,43.10,0.0,0.00,0.0,0.0,9,0,0.000010,True,REGULAR,USD
23,MSFT210618C00180000,2020-11-10 20:02:43,180.0,38.00,0.0,0.00,0.0,0.0,69,0,0.000010,True,REGULAR,USD
24,MSFT210618C00185000,2020-11-10 19:12:35,185.0,34.70,0.0,0.00,0.0,0.0,34,0,0.000010,True,REGULAR,USD
25,MSFT210618C00190000,2020-11-10 20:33:21,190.0,31.58,0.0,0.00,0.0,0.0,4519,0,0.000010,True,REGULAR,USD
26,MSFT210618C00195000,2020-11-10 20:38:34,195.0,28.60,0.0,0.00,0.0,0.0,18,0,0.000010,True,REGULAR,USD
27,MSFT210618C00200000,2020-11-10 20:52:36,200.0,25.10,0.0,0.00,0.0,0.0,96,0,0.000010,True,REGULAR,USD
28,MSFT210618C00205000,2020-11-10 20:00:29,205.0,22.43,0.0,0.00,0.0,0.0,163,0,0.000010,True,REGULAR,USD
29,MSFT210618C00210000,2020-11-10 20:47:30,210.0,20.15,0.0,0.00,0.0,0.0,347,0,0.000010,True,REGULAR,USD
30,MSFT210618C00215000,2020-11-10 20:42:42,215.0,17.85,0.0,0.00,0.0,0.0,155,0,0.000010,True,REGULAR,USD
31,MSFT210618C00220000,2020-11-10 20:59:37,220.0,15.69,0.0,0.00,0.0,0.0,340,0,0.000010,True,REGULAR,USD
32,MSFT210618C00225000,2020-11-10 20:14:08,225.0,13.50,0.0,0.00,0.0,0.0,144,0,0.000010,True,REGULAR,USD
33,MSFT210618C00230000,2020-11-10 20:40:25,230.0,11.90,0.0,0.00,0.0,0.0,2273,0,0.000010,True,REGULAR,USD
34,MSFT210618C00235000,2020-11-10 20:44:12,235.0,10.55,0.0,0.00,0.0,0.0,344,0,0.000010,True,REGULAR,USD
35,MSFT210618C00240000,2020-11-10 20:52:29,240.0,9.15,0.0,0.00,0.0,0.0,160,0,0.000010,True,REGULAR,USD
36,MSFT210618C00245000,2020-11-10 20:55:13,245.0,7.80,0.0,0.00,0.0,0.0,16,0,0.000010,True,REGULAR,USD
37,MSFT210618C00250000,2020-11-10 20:54:22,250.0,6.79,0.0,0.00,0.0,0.0,563,0,0.000010,True,REGULAR,USD
38,MSFT210618C00255000,2020-11-10 19:57:36,255.0,5.75,0.0,0.00,0.0,0.0,17,0,0.031260,False,REGULAR,USD
39,MSFT210618C00260000,2020-11-10 20:37:49,260.0,4.90,0.0,0.00,0.0,0.0,66,0,0.062509,False,REGULAR,USD
40,MSFT210618C00265000,2020-11-10 17:53:11,265.0,4.55,0.0,0.00,0.0,0.0,21,0,0.062509,False,REGULAR,USD
41,MSFT210618C00270000,2020-11-10 19:17:08,270.0,3.63,0.0,0.00,0.0,0.0,31,0,0.125009,False,REGULAR,USD
42,MSFT210618C00275000,2020-11-10 17:06:46,275.0,3.20,0.0,0.00,0.0,0.0,9,0,0.125009,False,REGULAR,USD
43,MSFT210618C00280000,2020-11-10 19:23:41,280.0,2.65,0.0,0.00,0.0,0.0,71,0,0.125009,False,REGULAR,USD
44,MSFT210618C00285000,2020-11-06 15:13:54,285.0,3.92,0.0,0.00,0.0,0.0,13,0,0.125009,False,REGULAR,USD
45,MSFT210618C00290000,2020-11-06 20:06:55,290.0,3.29,0.0,0.00,0.0,0.0,2,0,0.125009,False,REGULAR,USD
46,MSFT210618C00295000,2020-11-06 15:10:33,295.0,2.43,0.0,0.00,0.0,0.0,3,0,0.250007,False,REGULAR,USD
47,MSFT210618C00300000,2020-11-10 20:46:37,300.0,1.60,0.0,0.00,0.0,0.0,12,0,0.250007,False,REGULAR,USD
48,MSFT210618C00310000,2020-11-10 18:15:18,310.0,1.29,0.0,0.00,0.0,0.0,10,0,0.250007,False,REGULAR,USD
49,MSFT210618C00320000,2020-11-10 18:03:48,320.0,1.10,0.0,0.00,0.0,0.0,81,0,0.250007,False,REGULAR,USD

In [16]:
opt.calls.to_csv('AAPL_options.csv')